<h2>{{ title }}</h2>
<!-- Here is the wishlist piece-->
<!-- It only displays when there is at least one course on the wishlist-->
 @if (wishlist.length > 0) {
    <div class="wishlist-banner">
        <span class="heart">♥</span>
        My Wishlist:
        @for (course of wishlist; track course.title) {
            <!-- Display each course title -->
            <span class="wishlist-item">{{ course.title }}</span>    
        }
    </div>
 }
<!-- Here is the course list piece -->
@for(course of courses; track course.id) {
<app-course-card [course]="course" (wishlistAdded)="onWishlistAdded($event)" (courseBooked)="onCourseBooked($event)"></app-course-card>
}
